# OS
.DS_Store
*.zip

# Logs
logs
*.log

# Dependencies
node_modules
components
bower_components
app

# Cordova
.cordova
platforms/
plugins/
hooks/
merges/

# Compile
build/Release
www/
public/js/main.min.js
