doctype
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!-->
html(lang="en")
  <!--<![endif]-->
  head
    title= title
    link(href="css/main.css" type="text/css" rel="stylesheet")
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="author" content="")
    meta(name="handheldfriendly" content="true")
    meta(name="mobileoptimized" content="320")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="cleartype" content="on")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  body
    a(href="#").mContact
      strong Speak with us directly
      p Call <strong>911</strong> unless this is a non-critical injury.

    form.form
      input.radio-split#radio-wait(type="radio" name="sort" value="wait" checked="checked" v-on="checked: sort = 'wait'")
      label(for="radio-wait") wait
      input.radio-split#radio-distance(type="radio" name="sort" value="distance" v-on="checked: sort = 'distance'")
      label(for="radio-distance") distance

    .main#main
      ul.hList
        li.hItem(v-repeat="items | orderBy field" data-heat="{{time}}")
          a.hLink(href="http://www.albertahealthservices.ca/facilities.asp?pid=facility&rid={{id}}")
            time.hTime {{time}}
            .hContent
              h2.hTitle {{title}}
              span.hDetails {{details}}
    script(src="js/bundle.js")
